@import "tailwindcss";

:root {
  /* Background */
  --bg-main: #fff;
  --bg-sec: #f9fafc;

  /* Common variables */
  --border: #f1f3f7;

  /* Fonts color */
  --text-main: #232837;
  --text-sec: #898c9a;
  --text-chosen: #837eea;

  /* Buttons */
  --btn-main: #fff;
  --btn-active: #5850ea;
  --btn-active-light: #f0effd;
  --btn-grad-from: #4b6cf5;
  --btn-grad-to: #8058ee;

  /* Badges */
  --badge-gray: #f1f2f6;

  /* Infographics */
  --bg-violet: #f3edfc;
  --text-violet: #804ad9;
  --bg-green: #e7f6ec;
  --text-green: #12b340;
  --bg-blue: #eaf0fe;
  --text-blue: #2e81fc;
  --bg-orange: #fcebdc;
  --text-orange: #fc8e25;

  /* Other */
  --block-gr-from: #5741dd;
  --block-gr-to: #8451da;
}

/* There some styles that often used in the code,
   so I didn't used tailwind for it */
.navbar-link {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 1rem;
  padding-block: 0.8rem;
  border-radius: 14px;

  color: var(--text-main);
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    filter: opacity(80%);
  }
}

.navbar-link.active {
  background: var(--btn-active-light);
  color: var(--btn-active);
}

.change-theme-btn:hover .icon {
  transform: rotate(90deg) !important;
  transition: all 300ms ease-in-out;
}

.btn {
  border-radius: 12px;
  padding: 12px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  text-align: center;
  transition: all 300ms;
  cursor: pointer;
}

.card {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  --background: #ffffff;
  --foreground: #171717;
}
